body{
  margin:0;
  font-family:Arial;
  background:#0b1220;
  color:#fff;
}

.card{
  max-width:500px;
  margin:40px auto;
  padding:20px;
  background:#111a2e;
  border-radius:15px;
  border:1px solid #C9A84C;
}

input,select{
  width:100%;
  padding:10px;
  margin:6px 0;
  border-radius:10px;
  border:none;
}

button{
  width:100%;
  padding:12px;
  background:#C9A84C;
  border:none;
  border-radius:10px;
  font-weight:bold;
}